.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  color: #333;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.interpreter-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 30px;
  max-width: 800px;
  background-color: #c5bec8;
}

.input-area, .output-area {
  background-color: white;
  border: 50px solid white;
  padding: 50px;
  margin-bottom: 20px;
}

.button-area {
  margin-bottom: 20px;
}

.button-area button {
  background-color: #FFF;
  color: #333;
  padding: 10px 20px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  border: 2px solid transparent;
  box-shadow: -4px 5px 0px rgba(0, 0, 0, 0.2); /* Adjusted shadow for subtlety */
  font-size: 10px;
}

.button-area button:last-child {
  margin-right: 0;
}

.button-area button:hover {
  background-color: #333;
  color: #FFF;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 768px) {
  .interpreter-container {
    width: 95%;
    max-width: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Enhancements for text readability */
body {
  font-size: 16px; /* Adjust base font size for better readability */
  line-height: 1.6; /* Improve line spacing */
  color: #333; /* Ensured contrast for readability */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
